@charset "ISO-8859-1";
*{margin: 0px;
padding: 0px;}
html, body {
	height: 100%;
	width: 100%;
	
}

a {
	color: black;
}

body {
	margin: 0;
	background: linear-gradient(45deg,  rgba(225, 225, 225, 0.6), #ffffff);
	font-family: sans-serif;
	font-weight: 100;
}
main{
	margin: 0 auto;
	width:95%;
	padding: 20px;
}
footer{
	width:80%;
	margin: 0 auto;

}
footer p{margin: 0 auto; text-align: centre; width: 20%}

h1 {
	color: black;
	font-family: sans-serif;
}

h2 {
	color: gray;
	font-family: sans-serif;
}

p {
	color: black;
	font-family: sans-serif;
}

.mytextarea{
	width:200px;
	height:16px;
}
.container {
	margin:0 auto;
	transform: translate(-50%, -50%);
	margin-top:50px;

}
.loginLinks{padding: 20px;}

table {
	width: 80%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin:0 auto;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #000;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}